  /* Style for the container */
  .container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  /* Style for the header */
  h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 40px;
  }

  ul {
    font-size: 12px;
    color: #333;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 30px;
  }
  /* Style for the form */
  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
  }

  /* Style for the form elements */
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 3px;
    margin-bottom: 40px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #f4f4f1;
  }

  /* Style for the submit button */
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #353434;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  /* Style for the error messages */
  .error {
    color: red;
    margin-bottom: 20px;
  }
  .select {
    width: 356px;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #ccc;
    
    
  }
@media screen and (min-width: 720px) {
    .transaction {
        width: 720px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .transaction {
        width: 1024px;
        margin: 0 auto;
    }
}

/*------------------------- transactions form -------------------*/
div.transaction{
  position: fixed;
  margin-left: 25%;
  margin-top: 1%;
  padding-inline: 20px;
  background-color: #F3F8FB;
  width: 500px;
  padding-top: 80px;
  padding-bottom: 100px;
  border: 0.5px solid #d0c4f3;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 5px #92acbc;
  
}

div.lable{
  display: inline;
 
}
div.value{
  inline-size: 20px;
  display: inline;
}
div.sub{
position: fixed;
margin-top: 20px;
}

.form-group {
  margin: 20px 0;
}

label {
  font-weight: bold;
}


input[type=submit] {
  padding: 8px 12px;
  background-color: #8800ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: red;
}


.chart {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 10px;
  background-color: blue;
}

.bar-label {
  margin-top: 5px;
  font-size: 12px;
  color: white;
}

#login-background h1{
  text-align: center;
  color: rgb(240, 191, 32);
  margin-bottom: 0px;

}

#email{
  width: 100%;
    padding: 3px;
    margin-bottom: 40px;
    font-size: 18px;
    border-color: #f4f4f1;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    
    
}
form [name="login_user_form"]{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.fa{
  color: mediumpurple;
}
.fa-exchange:before {
  color: mediumpurple;
  
  
}

.fa-users:before{
  color: mediumpurple;
  margin-right: 10px;
}
.fa-university::before{
  color: mediumpurple;
}
.fs-error-msg{
color: rgb(202, 23, 23);
text-align: center;

}

/* search box*/
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: -50px;
}

.search-form label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.2rem;
  color: #333;
}

.search-form input[type="text"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.search-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: -40px;
  margin-left: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-form input[type="submit"]:hover {
  background-color: #555;
}
#load-more{
  background-color: #8255f7;
  color: white;
  border: none;
  border-radius: 3px;
  width: 80px;
  text-align: center;
  height: 46px;
}
#load-more:hover{
  background-color: #6a44ca;
}
