{% extends "index.html" %}
{% include "baseForm.html" %}
{% block main %}
   

<div class ="transaction">
<form method="POST">
    <div class="form-group" class="lable">
        {{ form.csrf_token }}
        {{ form.nationalId.label(class="form-control") }}
    </div>
    <div class="form-group" class="value">
        {{ form.nationalId(class="form-control") }}
    </div>
        
    <div class="form-group" class="lable">
        {{ form.transaction_type.label(class="form-control") }}
    </div>
    <div class="form-group" class="value">
        {{ form.transaction_type(class="form-control") }}
    </div>
    <div class="form-group" class="sub">
        {{ form.submit }}
    </div>
    
</form>
</div>
{% endblock %}
