{% extends "index.html" %}
{% import "macros.html" as macros %}
{% block main %}
   

<div class ="transaction">
    <ul>
        <li>- Enter National ID to authorize</li>
        <li>- Chose transaction type</li>
    </ul>
<form method="POST">
    <div class="form-group" class="lable">
        {{ form.csrf_token }}
        {{ macros.render_field(form.nationalId, class="form-control") }}
    </div>
        
    <div class="form-group" class="lable">
        {{ macros.render_field(form.transaction_type, class="form-control select") }}
    </div>
    <div class="form-group " class="sub">
        {{ form.submit }}
    </div>
    
</form>
</div>
{% if form.submit_success %}
<div class="alert alert-success">
    Withdraw successfull!
  </div>
  {% endif %}
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
<div id ="alert" class="alert alert-danger" role="alert"> 
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %} -->
{% endblock %}
