{% extends "index.html" %}

{% block title %}
  Customer page 
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">All Customers</h4>
            <div class="data-tables datatable-dark">
                <div id="dataTable3_wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                           <div class="dataTables_length" id="dataTable3_length">
                    
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable3_length">
                                <label>Show 
                                    <select name="dataTable3_length" aria-controls="dataTable3" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <table class="text-center dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="dataTable3_info" style="width: 1245px;">
                            <thead class="text-capitalize">
                                <tr role="row">
                                    <th style="width: 200px;"  >ID</th>
                                    <th style="width: 200px;" >Name</th>
                                    <th style="width: 200px;">Given Name</th>
                                    <th style="width: 200px;">Country</th>
                                    <th style="width: 200px;" >Profile</th>
                                    <th style="width: 200px;">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in customers  %}
                                <tr>
                                        <td >{{c.Id}}</td>
                                        <td >{{c.Surname}}</td>
                                        <td >{{c.GivenName}}</td>
                                        <td >{{c.Country}}</td>
                                        <td >{{c.City}}</td>

                                        <td>
                                            <a href="/customer/{{c.Id}}" class="btn">More info</a>
                                        </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block paging %}

<div class="previous-page">
    <ul class="pagination previous">
        <li class="paginate_button page-item previous disabled">
            <a href="customers.html" aria-controls="dataTable3" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
        </li>
    </ul>
    <ul class="pagination next">
        <li class="paginate_button page-item previous disabled">
            <a href="#" aria-controls="dataTable3" data-dt-idx="0" tabindex="0" class="page-link">Next</a>
        </li>
    </ul>
</div>


{% endblock %}