{% extends "index.html" %}
{% import "macros.html" as macros %}
{% block main %}
    
<div class ="transaction">
<form method="POST">
    {{ form.csrf_token }}
    <div class="lable form-group">
        
        {{ macros.render_field(form.account_number, class="form-control select") }}
    </div>
        
    <div class="lable form-group">
        {{ macros.render_field(form.amount, class="form-control") }}
    </div>
    <div class="sub form-group">
        {{ form.submit }}
    </div>
    
</form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id ="alert" class="alert alert-danger" role="alert"> 
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% endblock %}