{% extends "index.html" %}
{% block main %}
    {% include "baseForm.html" %}
    
<div class ="transaction">
<form method="POST">
    <div class="lable form-group">
        {{ form.csrf_token }}
        {{ form.account_number.label(class="form-control") }}
    </div>
    <div class="value form-group">
        {{ form.account_number(class="form-control") }}
    </div>
        
    <div class="lable form-group">
        {{ form.amount.label(class="form-control") }}
    </div>
    <div class="value form-group">
        {{ form.amount (class="form-control")}}
    </div>
    <div class="sub form-group">
        {{ form.submit }}
    </div>
    
</form>
</div>
{% endblock %}