{% extends "index.html" %}

{% block title %}
transaction
{% endblock %}

{% block main %}


<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-area">
                   
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="invoice-address">
                                    <h3>TRANSACTIONS</h3>
                                    <h6>Acount Type:</h6>
                                    <p> {{account.AccountType}}</p>
                                    <hr>
                                </div>
                            </div>
                           
                        </div>
                        <div class="invoice-table table-responsive mt-5">
                            <table class="table table-bordered table-hover text-right">
                                <thead>
                                    <tr class="text-capitalize">
                                        <th class="text-center" style="width: 10%;">ACCOUNT NO </th>
                                        <th class="text-center" style="width: 45%; min-width: 130px;">DATE</th>
                                        <th class="text-left">OPERATION</th>
                                        <th class="text-center">TYPE</th>
                                        <th style="min-width: 100px">AMOUNT</th>
                                        <th>NEW BALANCE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in transactions %}
                                    <tr>
                                        <td class="text-center">{{t.AccountId}}</td>
                                        <td class="text-center">{{t.Date}}</td>
                                        
                                        <td class="text-left">{{t.Operation}}</td>
                                        <td class="text-center">{{t.Type}}</td>
                                        <td>{{t.Amount}}</td>
                                        <td>{{t.NewBalance}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                    <div class="invoice-buttons text-right">
                        <a href="#" class="invoice-btn">print</a>
                        <a href="#" class="invoice-btn">send via mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}