
{% extends "index.html" %}
{% import "macros.html" as macros %}
{% block main %}
    
<div class ="transaction">
<form method="post">
    <div class="lable form-group">
        {{ macros.render_field(form.source_account_number, class="form-control select") }}
    </div>
    <div class="lable form-group">
        {{ macros.render_field(form.destination_account_number, class="form-control select") }}
    </div>
    <div class="lable form-group">
        {{ macros.render_field(form.amount, class="form-control") }} 
    </div>
    <div class="sub form-group">
        {{ form.submit(class="form-control") }}
    </div>
</form>
</div>

{% if form.submit_success %}
<div class="alert alert-success">
    Transfer successfull!
  </div>
  {% endif %}
{% endblock %}
