{% extends "index.html" %}

{% block main %}
    {% include "baseForm.html" %}
    
<div class ="transaction">
<form method="POST">
    <div class="lable form-group">
        {{ form.csrf_token }}
        {{ form.account_number.label(class="form-control") }}
    </div>
    <div class="value form-group">
        {{ form.account_number(class="form-control") }}
    </div>
        
    <div class="lable form-group">
        {{ form.amount.label(class="form-control") }}
    </div>
    <div class="value form-group">
        {{ form.amount(class="form-control") }}
    </div>
    <div class="sub form-group">
        {{ form.submit(class="form-control") }}
    </div>
    
</form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id ="alert" class="alert alert-danger" role="alert"> 
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% endblock %}
